@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Protótipo do Sistema de Doação de Sangue</h1>
    <p class="lead">Este protótipo tem o objetivo apenas de mostrar como consumir um serviço que fornece token de autenticação em JWT (JSON Web Tokens) e utilizado o token para ter acesso e consumir recursos de outros serviços.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Solicitações</h2>
        <p>
            Veja a lista de solicitações de bolsas de sangue lançadas pelas unidades hospitalares.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "SolicitacaoBolsa")">Ir para</a></p>
    </div>
</div>