################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetoDoacaoSangue/DoacaoSangue.Api/bin
/ProjetoDoacaoSangue/DoacaoSangue.Api/obj/Debug
/ProjetoDoacaoSangue/DoacaoSangue.AuthServerApi/bin
/ProjetoDoacaoSangue/DoacaoSangue.AuthServerApi/obj/Debug
/ProjetoDoacaoSangue/DoacaoSangue.Web/bin
/ProjetoDoacaoSangue/DoacaoSangue.Web/obj/Debug
/ProjetoDoacaoSangue/packages
/ProjetoDoacaoSangue/DoacaoSangue.Api/obj/Release
/ProjetoDoacaoSangue/DoacaoSangue.AuthServerApi/obj/Release
/ProjetoDoacaoSangue/DoacaoSangue.LoadTest/bin/Debug
/ProjetoDoacaoSangue/DoacaoSangue.LoadTest/obj
/ProjetoDoacaoSangue/DoacaoSangue.Web/obj/Release
/ProjetoDoacaoSangue/TestResults
