################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetoDoacaoSangue/DoacaoSangue.Api/bin
/ProjetoDoacaoSangue/DoacaoSangue.Api/obj/Debug
/ProjetoDoacaoSangue/DoacaoSangue.AuthServerApi/bin
/ProjetoDoacaoSangue/DoacaoSangue.AuthServerApi/obj/Debug
/ProjetoDoacaoSangue/DoacaoSangue.Web/bin
/ProjetoDoacaoSangue/DoacaoSangue.Web/obj/Debug
/ProjetoDoacaoSangue/packages
