################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetoDoacaoSangue/DoacaoSangue.Api/bin
